<footer  class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="mb-3"><i class="fas fa-gift me-2"></i>LuckyWheel</h5>
        <p>Try your luck with our exciting lucky wheel campaigns and win incredible rewards.</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/"><i class="fas fa-home me-2"></i>Home</a></li>
          <li><a href="/campaigns"><i class="fas fa-trophy me-2"></i>Campaigns</a></li>
          <li><a href="/user/history"><i class="fas fa-history me-2"></i>Check Results</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="mb-3">Admin</h5>
        <ul class="list-unstyled">
          <li><a href="/user/login"><i class="fas fa-sign-in-alt me-2"></i>Admin Login</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="mb-3">Follow Us</h5>
        <div class="d-flex">
          <a href="#" class="me-2"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="me-2"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="me-2"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p class="mb-0">&copy; <%= new Date().getFullYear() %> LuckyWheel. All Rights Reserved.</p>
    </div>
  </div>
</footer>
 